.fundoLogin {
    background-image: url("https://ik.imagekit.io/gengrupo03/genRH/foto-login.png?updatedAt=1754673686099");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}