.fundoLogin {
    background-image: url("https://ik.imagekit.io/gengrupo03/genRH/foto-rh.png?updatedAt=1754665888231");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}